<!-- Header Bar Code Started -->
<div class="">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle mobile-menu collapsed" id="new_t"> 
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar a mobile-smooth"></span> 
          <span class="icon-bar b mobile-smooth"></span> 
          <span class="icon-bar c mobile-smooth"></span> 
        </button>
        <a class="navbar-brand mobile-logo navbar-brand-centered" [routerLink]="['/']" layout-align="center center">SAVEMONK</a>
        <a href="javascript:void(0)" title="search" class="mobile-search"></a>
        <i class="mobile-search-icon mobile-search-icon-position fa fa-search"></i>
        <img src="https://semantic-ui.com/examples/assets/images/avatar/nan.jpg" class="avatar mobile-search-picture-position image mobile-search-icon">
      </div>
    </div>
  </nav>
</div>
<!-- Header Bar Code End -->