<div class="menu-second closed-second">
  <div class="container-fluid">
    <p id="type_product">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Today's Popular Categories
    </p>
    <ul class="cate_menu">
        <li [routerLink]="['/']" class="limenu" id="go_home">
          <p class="profile_name">Home</p>
        </li>
        <li [routerLink]="['/awad']" class="limenu" id="open_second">
          <p class="profile_name_inactive">Categories</p>
        </li>
        <li [routerLink]="['/']" class="limenu">
          <p class="profile_name_inactive">Top Store</p>
        </li>
        <li [routerLink]="['/awad']" class="limenu">
          <p class="profile_name_inactive">Deals Of The Day</p>
        </li>
        <li [routerLink]="['/']" class="limenu">
          <p class="profile_name_inactive">Top Store</p>
        </li>
        <li [routerLink]="['/awad']" class="limenu">
          <p class="profile_name_inactive">Deals Of The Day</p>
        </li>
      </ul>
  </div>
</div>